# Environment variables
.env
.env.*

# IDE files
.idea/
*.iml
.vscode/
*.swp
*.swo

# Compiled files
target/
*.class
*.jar
*.war
*.ear

# Logs
logs/
*.log

# Database
*.db
*.sql
*.sqlite

# Uploaded files
uploads/

# Maven
.mvn/
mvnw
mvnw.cmd

# System files
.DS_Store
Thumbs.db

# Spring Boot
spring-boot-devtools.restart.trigger
spring-boot-devtools.restart.enabled

HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
